@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  display: grid;
  place-items: center;
  text-align: center;
  margin: 0;
}

.cover-image {
  border-radius: 50%;
  animation: spin 30s linear infinite, pulse 20s ease-in-out infinite;
  animation-play-state: paused;
}

.container.play .cover-image {
  animation-play-state: running;
}
@keyframes coverAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.04) rotate(90deg);
  }
  50% {
    transform: scale(1) rotate(180deg);
  }
  75% {
    transform: scale(1.04) rotate(270deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

.hvr:hover {
  background-color: black;
  color: whitesmoke;
}
