@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  display: grid;
  place-items: center;
  text-align: center;
  margin: 0;
}

.cover-image {
  border-radius: 50%;
  animation: coverAnimation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
  object-fit: cover;
}

.container.play .cover-image {
  animation-play-state: running;
}
@keyframes coverAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
